@import "tailwindcss";

body {
  background-color: #fefaef;
}

@font-face {
  font-family: mono_bold;
  src: url(/public/Iosevka_Charon_Mono/IosevkaCharonMono-Bold.ttf);
}

@font-face {
  font-family: mono_light;
  src: url(/public/Iosevka_Charon_Mono/IosevkaCharonMono-Light.ttf);
}

h1 {
  font-family: mono_bold;
  font-size: 50px;
}

p {
  font-family: mono_light;
  font-size: 25px;
}

button {
  font-family: mono_bold;
}

* {
  margin: 5;
}