@import "tailwindcss";

body {
  background-color: #fefaef;
  font-family: "mono_light";
}

@font-face {
  font-family: "mono_bold";
  src: url("/Iosevka_Charon_Mono/IosevkaCharonMono-Bold.ttf");
}

@font-face {
  font-family: "mono_light";
  src: url("/Iosevka_Charon_Mono/IosevkaCharonMono-Light.ttf");
}

h1 {
  font-family: "mono_bold";
  font-size: 50px;
}

h2 {
  font-family: "mono_bold";
}

